@-moz-document domain("bilibili.com") {
.bili-header .search-panel:not(#a) {
    padding-bottom: 4px;
}

.histories-wrap:not(#a) {
    max-height: none !important;
    padding: 0;
}

.bili-header .histories:not(#a) {
    display: block;
    margin: 8px 0 4px;
}

.history-item:not(#a) {
    height: 32px;
    display: block;
    line-height: 32px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    padding: 0 16px;
    margin: 2px;

    background: none;
    border-radius: 0;
}

.history-item.active:not(#a),
.history-item:focus:not(#a),
.history-item:hover:not(#a) {
    outline: none;
    background: #f4f4f4;
    color: initial;
}

.history-item .close:not(#a) {
    display: none;
}

.history-text {
    max-width: none !important;
}

.history-fold-wrap {
    display: none !important;
}

.trending {
    display: none !important;
}
}
