.addon {
    position: fixed;
    top: 20px;
    right: 20px;

    font-family: sans-serif;
    background: #FFFFFF;
    border: 1px solid rgb(0 0 0 / 24%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    border-radius: 3px;
    overflow: hidden;
    user-select: none;
}

.addon.button {
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: #EEEEEE;
    }
}

.addon.panel {
    width: 320px;
    font-size: 14px;
}

.icon {
    pointer-events: none;
}

.title {
    display: flex;
    height: 36px;
    border-bottom: 1px solid #CCCCCC;
}

.title-text {
    line-height: 36px;
    flex: 1;
    text-align: center;
}

.close {
    width: 36px;
    height: 36px;
    text-align: center;
    margin-left: -36px;
    cursor: pointer;
}

.close:hover {
    background-color: #EEEEEE;
}

.close .icon {
    width: 20px;
    height: 20px;
    margin: 8px 0;
}

.tabs {
    margin: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}

.tab {
    flex: 1;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.tab:hover {
    background: #EEEEEE;
}

.tab.current {
    background: #CCCCCC;
}

.font-custom-input {
    flex-basis: 100%;
    height: 32px;
    border-top: 1px solid #CCCCCC;
    cursor: unset;
}

.font-custom-input input {
    font-family: monospace;
    font-size: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0;
    border: 0;
}

.spinbox {
    height: 32px;
    margin: 8px;
    border: 1px solid #CCCCCC;
    display: flex;
    border-radius: 2px;
}

.spinbox span {
    line-height: 32px;
    text-align: center;
    padding: 0 8px;
}

.spinbox span.label {
    border-right: 1px solid #CCCCCC;
}

.spinbox span.value {
    flex: 1;
}

.spinbox .action {
    height: 32px;
    width: 32px;
    text-align: center;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
}

.spinbox .action:hover {
    background-color: #EEEEEE;
}

.spinbox .action .icon {
    width: 20px;
    height: 20px;
    margin: 6px 0;
}